@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	background-image: url('./assets/xp.png');
	background-position: center center;
	background-size: auto;
	background-attachment: fixed;

	position: relative;
	overflow: hidden;
}
